# Environment variables
.env

# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/
dist/

# OS and IDE Files
.DS_Store
.vscode/
.idea/

# Database
*.sqlite3
*.db

# Runtime uploads
uploads/

# Logs
*.log
